@model IEnumerable<webtestrevised.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student_No)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Membership_Start)</a>
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Membership_Start)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Membership_End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.F_Name)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.L_Name)</a>
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.L_Name)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emergency_Contact_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emergency_Contact_No)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Login_Time)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.User_Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membership_Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membership_End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emergency_Contact_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emergency_Contact_No)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Login_Time)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.User_Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
