@model IEnumerable<webtestrevised.Models.Login>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Has_Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Has_CoursePaper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoursePaper)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoginTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.F_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Has_Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Has_CoursePaper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.F_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoursePaper.CourseName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoginID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoginID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoginID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
