@model IEnumerable<webtestrevised.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.F_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emergency_Contact_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emergency_Contact_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.F_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emergency_Contact_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emergency_Contact_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.UserID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClientID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
